body { background-color: #cbf082;
  color: #40514E;
  margin: 0;
  text-align :left;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 35px 0;
  padding: 45px;
}
h1{
  margin-top: auto;
color: #a05ced;
font-family: 'Montserrat', sans-serif;
font-size: 60px;


}
 h2{
  color: #188383;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  padding-bottom: 50px;
}

h3{
  color: #34cb39;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 50px;

}
hr {
  margin: ; 10rem;
  padding: 70px 30px 70px 300px;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
    /* height: 0px; */
  border-width: 20px;
  width: 10%;

}
.container ul{
  padding: 35px;
  text-decoration: none;

}
.container ul li {
display: inline-block;
padding: 0  10px;


 }
 .container ul li a {
  color: white;
  text-decoration: none;
}
header{
  background-color: aqua;
  color: black;
  margin: 0;
  padding: 0;
  
 
}
#navbar{ text-decoration: none;}

.container ul li{
display: inline-block;


}
.container ul{
color: #330806;
list-style-type: style none;
text-decoration: none;
}
#footer{
background-color: aqua;
color: black;
text-align: center;
padding: 0;
margin: 0;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}